; the folder where startUp is located

basePath = /var/notubiz/repositories/startUp

; the folder where de dump files will be located
; default: basePath/files
; filesPath =

; the tree depth of outputted objects or arrays
; default: 3
; outputDepth =

